ANTHROPIC_API_KEY=
CLAUDE_MODEL=
NEXT_PUBLIC_CLINIC_PHONE=
NEXT_PUBLIC_CLINIC_WHATSAPP=
NEXT_PUBLIC_BOOKING_URL=
NEXT_PUBLIC_CLINIC_LOCATION_URL=
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/kicks_and_cries
POSTHOG_API_KEY=
POSTHOG_HOST=
MIXPANEL_TOKEN=
GA4_MEASUREMENT_ID=
GA4_API_SECRET=
